.body{
    background-color: rgb(155, 168, 168);
    
    display: flex;
}

.profilephoto img{
    width: 70%;
    margin-left: -49%;
    align-self: flex-start;
    
}

.profilecontent{
    background-color: aquamarine;
    margin-left: -30%;
    width: 60%;
}
.name{
    font-size: 2rem;
    background-color: antiquewhite;
    font-style: italic;
}

h2{
    font-size: 2rem;
    font-style: italic;
}
h3{
    font-size: 2rem;
    font-style: italic;
}

li{
    text-align: left;
    font-size: 2.5rem;
}